# ===  root ===
node_modules

# ===  Frontend ===
Frontend/node_modules
Frontend/.env
Frontend/temp

# === Phase -1 ===
Phase-1/node_modules
Phase-1/.env

# === Phase -2 ===
Phase-2/node_modules
Phase-2/book-service/node_modules
Phase-2/book-service/.env
Phase-2/loan-service/node_modules
Phase-2/loan-service/.env
Phase-2/user-service/node_modules
Phase-2/user-service/.env

# === Phase -3 ===
Phase-3/node_modules
Phase-3/book-service/node_modules
Phase-3/book-service/.env
Phase-3/loan-service/node_modules
Phase-3/loan-service/.env
Phase-3/user-service/node_modules
Phase-3/user-service/.env   
